*{

    font-family: 'Work Sans', sans-serif;

}
body {
    margin: 0; /* Remove margin on the body */
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
    height: 100vh;
    background-color: #f0f0f0;
}

  
.header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; 
    box-shadow: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid  #32620e ;
    z-index: 1000;
    padding-bottom: 20px;
}

.header-image {
    background-image: url('../assests/images/back3.jpg'); /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust height to fit viewport */
    width: 100%;
    position: relative;
    background-attachment: fixed; /* Add parallax effect */
}

.logo img {
    max-height: 100px; /* Adjust max height as needed */
    width: auto;
    margin-left: 25px;
}

.cta button {
    background-color: #32620e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
}

.cta button:hover {
    background-color: #fff;
    color: #32620e;
}

.text-container {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50px; /* Adjust the left position as needed */
    transform: translateY(-50%);
    color: white; /* Adjust text color as needed */
    max-width: 70%; /* Adjust the maximum width of the text container */
    z-index: 500; /* Ensure the text container is above the image */
    background-color: #fff;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px; /* Adjust margin between sections as needed */
    background-color: #fff;
}

.section-content {
    background-color: #f0f0f0; /* Set background color for section */
    padding: 20px; /* Adjust padding within the section as needed */
    border-radius: 10px; /* Add rounded corners */
}

h2 {
    margin-bottom: 20px; /* Adjust margin below heading as needed */
}

ul {
    text-align: left; /* Align list items to the left */
}

/* Style list items */
li {
    margin-bottom: 10px; /* Adjust margin between list items as needed */
}

/* Style links within section */
a {
    color: #32620e; /* Change link color as needed */
    text-decoration: none;
    margin: 0 5px; /* Adjust margin around links as needed */
}

a:hover {
    text-decoration: underline;
}

.two-column-section {
    display: flex;
    flex-wrap: wrap;
}

.left-column {
    flex: 1;
    background-color: #32620e;
    margin-left: 0px;
    width: 50%;
}

.right-column {
    flex: 2;
    margin-left: 20px; /* Adjust margin between columns as needed */
    width: 50%;
}

.horizontal-strip{
    background-image: url('../assests/images/profile-strip-4.svg'); 
    width:100%;
    padding: 20px;
    border-bottom: 2px solid #32620e;
}

.bio-strip{
  background-color:#f0f0f0;
  width:100%;
  padding: 20px;
  border-bottom: 2px solid #32620e;
}

.features {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px; /* Adjust padding as needed */
}

.feature-column {
    flex: 1;
    padding: 10px; /* Adjust padding within each column as needed */
    border-radius: 5px; /* Add rounded corners to each column */
}

.feature-column p {
    margin: 0; /* Remove default margin for paragraphs */
    text-align: center; /* Center align text within each column */
    color: #000; /* Default text color */
}

.feature-column p:first-child {
    color: #32620e; /* Color for specific text in each column */
}

.features {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.feature-column {
    flex: 1;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.feature-column:hover .feature-column {
    transform: translateY(-10px);
}

.feature-column:hover {
    transform: translateY(-10px);
}

.feature-column p {
    margin: 0;
    text-align: center;
    color: #000;
}

.custom-horizontal-strip {
    background-color: #32620e;
    color: white;
    text-align: center;
    padding: 20px;
    
}

.rounded-button {
    background-color: #32620e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
}

.rounded-button:hover {
    background-color: #214409;
}

.header a{
    text-decoration: none;
}

.cta img{
    border-radius: 30px;
}

.cta a:hover {
    color: #0e0f0e;
}

.horizontal-strip {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-image: url('../assests/images/profile-strip-4.svg'); 
    background-size: cover;

  }
  
  .profile-photo {
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    border-radius: 50%; /* Makes it circular */
    overflow: hidden;
    margin-right: 20px; /* Spacing between photo and text */
    /* margin-left:-300px;*/
  }
  
  .profile-photo img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .profile-details {
    text-align: left;
  }

  .bio-details {
    text-align: center;
  }

  .tabbed-interface {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
  }
  
  .tabs {
    display: flex;
    border-bottom: #32620e0b;
    background-color: #fff;
  }
  
  .tab {
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: #32620e0b;
  }
  
  .tab.active {
    border-bottom: 2px solid  #32620e ;
    background-color: #fff;
  }
  
  .tab-content {
    display: none;
    padding: 20px;
    background-color: #fff;

  }
  
  .tab-content.active {
    display: block;
    background-color: #fff;
  }
  
  /* CSS for sliding animation */
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  footer {
    width: 100%;
    background-color: rgb(11, 33, 11);
    padding-top: 20px;
    color: white;
    text-align: right;
    padding-bottom: 100px;
    margin-bottom: 0px;
}

  footer a{
    color: white;
    text-decoration: none;
    margin-right: 20px ;
  }

  .welcome {
    background-color: #32620e; /* Set your desired background color */
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 30px;
    border: 2px solid #32620e;
    height: 180px;
    margin-top: -100px;
  }

  .image { 
    position: absolute;
    margin-right: 0px; /* Adjust spacing between image and text */
    margin-bottom: 100px;
  }

  .text p{
    margin-top: -30px;
    font-size: 20px;
    margin-left: 160px;
    margin-bottom: 300px;
    color: #fff;
  }



  /* Optional: Add styling for better presentation */
  .text h2 {
    margin-left: 160px;
    margin-top: 25px;
    font-size: 33px;
    color: #fff;

  }

  .text p {
    margin-bottom: 0;
  }

  .space{
    background-color: #f0f0f0;
  }